{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}


{% block content%}
	<div class="row">
		<div class="col-3 playlists">
			<h2>Playlists</h2>
			{% for playlist in playlists %}
				<a href="{% url 'video_app:playlist_page' playlist.playlist_id %}">
					<div class="playlist">
						<img src="{{playlist.thumbnail_url}}">
						<h5>{{playlist.title}}</h5>
					</div>
				</a>
			{% endfor %}
		</div>

		<div class="col last-videos">
			<h2>Latest Videos</h2>

			<hr> <br>
			{% for video in videos %}
				<a href="{% url 'video_app:video_page' video.video_id %}">
							
	  				<div class="card-body">
	  					<div class= 'row'>
		  					<div class="col-sm-2 ">
		  						<img style='min-height: 150px; min-width: 250px;' src="{{video.thumbnail_url}}">
		  					</div>

		  					<div class='col-sm-6 offset-sm-1'>
		  						<div id='title' class='row'>
		   							<h3>{{video.title}}</h3>
		   						</div>

		   						<div id='description' class='row'>
		   							<p>{{video.description}}</p>
		   						</div>
		 				 	</div>
		 					
						</div>
					</div>
				
		</a>
			{% endfor %}
		</div>
	</div>


{% endblock %}